body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-family: 'Teko', sans-serif;
  font-size: 9em;
  letter-spacing: 5px;
  font-weight: bolder;
  margin: 0;
}

h2 {
  width: 60%;
  text-align: center;
}

p {
  overflow: hidden;
  margin: 1px;
  font-weight: 300;
  background-color: #fff;
}

img {
  width: 80px;
}

.card-image {
  height: 290px;
}

#killer-image {
  height: 265px;
}

.bordered > p {
  border-bottom: solid lightgray 1px;
}

.red-letter {
  color: red;
  }

.card-title {
    margin-top: 15px;
    font-size: 30px;
    letter-spacing: 3px;
    line-height: 1;
    padding: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.cards {
  background-image: url("https://images.pexels.com/photos/301717/pexels-photo-301717.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 50px auto;
  width: 90%;
  height: 600px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0px 0px 8px -2px black;
  perspective: 1000px;
}

.deck {
  width: 250px;
  height: 400px;
  text-align: center;
  border-radius: 16px;
}

a {
  color: black;
  background: #682CD6;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 50px;
  outline: none;
  text-decoration: none;
}

a:hover {
  box-shadow: 1px 1px 15px 2px rgb(95, 128, 155);
  animation: glowing 2s ease-in-out infinite;
}

@keyframes glowing {
  0% { box-shadow: 0 0 -10px rgb(95, 128, 155); }
  20% { box-shadow: 0 0 10px rgb(95, 128, 155); }
  40% { box-shadow: 0 0 20px white; }
  60% { box-shadow: 0 0 20px rgb(95, 128, 155); }
  100% { box-shadow: 0 0 -10px rgb(95, 128, 155) }
}

.reveal-styling {
  width: 230px;
  border-radius: 15px;
  margin-top: 5px; 
}

.mystery-reveal-box {
  display: flex;
  box-sizing: border-box;
  background-color: yellowgreen;
  padding: 80px 30px;
  width: 70%;
  font-size: 35px;
  text-align: center;
}

.card-inner {
  position: relative;
  border-radius: 16px;
  width: 250px;
  height: 400px;
        -webkit-transition: 0.8s;
  transition: transform 0.8s;
  transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
}

.card-front {
  background: #FFDD47;
}

.flip-cards {
            -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
} 

.card-front, .card-back {
  position: absolute;
  border-radius: 16px;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 12px -3px black;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card-back {
  background-color: dodgerblue;
          -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

@media (min-width: 668px) and (max-width: 1024px) {

  .cards {
    height: 1000px;
  }

  .mystery-reveal-box {
    width: 80%;
    font-size: 25px;
    padding: 50px 30px;
  }
}

@media (max-width: 667px) {
  h2 {
    width: 90%;
    padding: 10px 30px;
    font-size: 20px;
  }

  .cards {
    height: 1500px;
  }

  .mystery-reveal-box {
    font-size: 20px;
    width: 90%;
    padding: 30px 20px;
  }
}
